.footer {
    padding: 5.75rem 1.5rem 4.5rem 1.5rem;
    color: $White;
    background: linear-gradient(hsla(192, 37%, 48%, 0.87) ,hsla(192, 37%, 48%, 0.87)),url('/img/mobile/image-footer.jpg');
    background-size: cover;
    position: relative;

    &__number {
        position: absolute;
        top: -1.75rem;
        left: 45%;

        span {
            background: $White;
        }
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }

    p {
        margin-bottom: 2rem;
    }

    button {
        background: $DarkPurple;

        &:hover {
            background: $LightPurple;
        }
    }
}

@media screen and (min-width:768px) {

    .footer {

        background: linear-gradient(hsla(192, 37%, 48%, 0.87) ,hsla(192, 37%, 48%, 0.87)),url('/img/tablet/image-footer.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5.75rem;
        padding-bottom: 4.125rem;

        &__container {
            margin: auto;
            max-width: 35.8125rem;

            h1 {
                font-size: 2.5rem;
                line-height: 2.75rem;
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 2.5rem;
            }
        }

    }

}