.footer {
    padding: 5.75rem 1.5rem 4.5rem 1.5rem;
    color: $White;
    background: linear-gradient(hsla(192, 37%, 48%, 0.87) ,hsla(192, 37%, 48%, 0.87)),url('../../img/mobile/image-footer.jpg');
    background-size: cover;
    position: relative;

    &__container {
        max-width: 35.8125rem;
        margin: auto;
    }

    &__number {
        position: absolute;
        top: -1.75rem;
        left: 48.5%;

        span {
            background: $White;
        }
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
        color: $White;
    }

    p {
        margin-bottom: 2rem;
    }

    button {
        background: $DarkPurple;

        &:hover {
            background: $LightPurple;
        }

        &:focus {
            outline: none;
            border: 5px hsl(267,53,71) solid;
            border-radius: 2rem;
        }
    }
}

// Tablet //
@media screen and (min-width:48em) {

    .footer {
        background: linear-gradient(hsla(192, 37%, 48%, 0.87) ,hsla(192, 37%, 48%, 0.87)),url('../../img/tablet/image-footer.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5.75rem;
        padding-bottom: 4.125rem;

        &__container {

            h2 {
                font-size: 2.5rem;
                line-height: 2.75rem;
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 2.5rem;
            }
        }

    }
}

// Desktop //
@media screen and (min-width : 75em) {

    .footer {
        background: linear-gradient(hsla(192, 37%, 48%, 0.87) ,hsla(192, 37%, 48%, 0.87)),url('../../img/desktop/image-footer.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        padding: 7.25rem 0 6.5rem 0;

        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 68.75rem;
            justify-content: space-between;

            h2 {
                margin: 0;
                width: 21.875rem;
                margin-right: 7.8125rem;
            }

            p {
                margin: 0;
                width: 21.875rem;
                margin-right: 5.75rem;
            }
        }
    }

}