html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,button {
    font-weight: 900;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $RedHat;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

.download--button {
    background: $MediumBlue;
    width: 12.0625rem;
    height: 3.625rem;

    span {
        color: $LightBlue;
    }
}

button {
    font-size: 1rem;
    color: $White;
    border: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 1.8125rem;
}

.page--button {
    border: 1px rgba(135, 135, 157, 0.25) solid;
    padding: 0.9375rem 0;
    border-radius: 29px;
    color: $Grey;
    font-size: 1rem;
    position: relative;
    height: 3.375rem;
    width: 3.375rem;
    display: block;
    margin: auto;
    font-weight: 900;
    text-align: center;
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        width: 1px;
        background: rgba(135, 135, 157, 0.25);
        height: 5.25rem;
    }
}


