.hero {
    max-width: 94rem;
    margin: auto;

    &__img {
        margin-bottom: 3rem;

        img {
            width: 115.65%;
            margin-left: 50%;
            transform: translateX(-50%);
            max-width: 51.25rem;
            display: block;
        }

        &__left,
        &__right {
            display: none;
        }
    }

    &__text {

        h1 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            line-height: 2.75rem;
        }

        p {
            color: $Grey;
            font-size: 1rem;
            padding: 0px 25px;
            max-width: 28.5625rem;
            margin: auto;
        }

        &--buttons {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            button:nth-child(1) {

                &:focus {
                    outline: none;
                    border: 5px hsl(192, 54%, 64%) solid;
                    border-radius: 2rem;
                }

                &:hover {
                    background: hsl(192, 54%, 64%);
                }
            }

            button:nth-child(2) {
                background: $DarkPurple;
                width: 8.6875rem;
                height: 3.625rem;
                margin-top: 1rem;
                margin-bottom: 9.25rem;

                &:focus {
                    outline: none;
                    border: 5px hsl(267, 53, 71) solid;
                    border-radius: 2rem;
                }

                &:hover {
                    background: hsl(267, 53, 71);
                }
            }
        }
    }
}


@media screen and (min-width: 48em) {
    
    .hero {
        margin-bottom: 4.1875rem;

        &__text {
            margin-bottom: 10.25rem;

            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }

            &--buttons {
                flex-direction: row;
                justify-content: center;

                button:nth-child(2) {
                    margin: 0 0 0 1rem;

                }
            }
        }

        &__img {
            margin-bottom: 4.5rem;
        }
    }
}

@media screen and (min-width: 75em) {

    .hero {

        &__text {
            max-width: 33.75rem;
            margin: auto;
            margin-bottom: 12.125rem;

            h1 {
                font-size: 4rem;
                margin-bottom: 2.125rem;
                line-height: 4rem;
            }

            p {
                font-size: 1.125rem;
                max-width: 33.75rem;
                padding: 0;
            }
        }

        &__img {
            display: none;

            &__left {
                display: block;
                float: left;
                transform: translateX(-10%);
            }

            &__right {
                display: block;
                float: right;
                transform: translateX(8%);
            }
        }
    }
}