// Colors //

$DarkBlue: hsl(240, 21%, 20%);
$MediumBlue: hsl(192, 37%, 48%);
$LightBlue: hsl(192, 90%, 77%);
$DarkPurple: hsl(268, 34%, 53%);
$LightPurple: hsl(268, 100%, 86%);
$White: hsl(0, 0%, 98%);
$Grey: rgb(134, 134, 156);

// Fonts //

$RedHat: 'Red Hat Display', sans-serif;