html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, button {
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  overflow-x: hidden;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.download--button {
  background: #4d96a8;
  width: 12.0625rem;
  height: 3.625rem;
}

.download--button span {
  color: #90e4f9;
}

button {
  font-size: 1rem;
  color: #fafafa;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 1.8125rem;
}

.page--button {
  border: 1px rgba(135, 135, 157, 0.25) solid;
  padding: 0.9375rem 0;
  border-radius: 29px;
  color: #86869c;
  font-size: 1rem;
  position: relative;
  height: 3.375rem;
  width: 3.375rem;
  display: block;
  margin: auto;
  font-weight: 900;
  text-align: center;
}

.page--button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  width: 1px;
  background: rgba(135, 135, 157, 0.25);
  height: 5.25rem;
}

.header {
  padding-top: 3rem;
  margin-bottom: 3.375rem;
}

.header__logo img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 48em) {
  .header {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 75em) {
  .header {
    padding-top: 5rem;
    margin-bottom: 6.75rem;
  }
}

.hero {
  max-width: 94rem;
  margin: auto;
}

.hero__img {
  margin-bottom: 3rem;
}

.hero__img img {
  width: 115.65%;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 51.25rem;
  display: block;
}

.hero__img__left, .hero__img__right {
  display: none;
}

.hero__text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 2.75rem;
}

.hero__text p {
  color: #86869c;
  font-size: 1rem;
  padding: 0px 25px;
  max-width: 28.5625rem;
  margin: auto;
}

.hero__text--buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text--buttons button:nth-child(1):focus {
  outline: none;
  border: 5px #72c1d5 solid;
  border-radius: 2rem;
}

.hero__text--buttons button:nth-child(1):hover {
  background: #72c1d5;
}

.hero__text--buttons button:nth-child(2) {
  background: #845eb0;
  width: 8.6875rem;
  height: 3.625rem;
  margin-top: 1rem;
  margin-bottom: 9.25rem;
}

.hero__text--buttons button:nth-child(2):focus {
  outline: none;
  border: 5px #b18edc solid;
  border-radius: 2rem;
}

.hero__text--buttons button:nth-child(2):hover {
  background: #b18edc;
}

@media screen and (min-width: 48em) {
  .hero {
    margin-bottom: 4.1875rem;
  }
  .hero__text {
    margin-bottom: 10.25rem;
  }
  .hero__text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero__text--buttons {
    flex-direction: row;
    justify-content: center;
  }
  .hero__text--buttons button:nth-child(2) {
    margin: 0 0 0 1rem;
  }
  .hero__img {
    margin-bottom: 4.5rem;
  }
}

@media only screen and (min-width: 75em) {
  .hero__text {
    max-width: 33.75rem;
    margin: auto;
    margin-bottom: 12.125rem;
  }
  .hero__text h1 {
    font-size: 4rem;
    margin-bottom: 2.125rem;
    line-height: 4rem;
  }
  .hero__text p {
    font-size: 1.125rem;
    max-width: 33.75rem;
    padding: 0;
  }
  .hero__img {
    display: none;
  }
  .hero__img__left {
    display: block;
    float: left;
    transform: translateX(-10%);
  }
  .hero__img__right {
    display: block;
    float: right;
    transform: translateX(10%);
  }
}

.footer {
  padding: 5.75rem 1.5rem 4.5rem 1.5rem;
  color: #fafafa;
  background: linear-gradient(rgba(77, 150, 168, 0.87), rgba(77, 150, 168, 0.87)), url("/img/mobile/image-footer.jpg");
  background-size: cover;
  position: relative;
}

.footer__container {
  max-width: 35.8125rem;
  margin: auto;
}

.footer__number {
  position: absolute;
  top: -1.75rem;
  left: 49%;
}

.footer__number span {
  background: #fafafa;
}

.footer h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.footer p {
  margin-bottom: 2rem;
}

.footer button {
  background: #845eb0;
}

.footer button:hover {
  background: #d9b8ff;
}

.footer button:focus {
  outline: none;
  border: 5px #b18edc solid;
  border-radius: 2rem;
}

@media screen and (min-width: 48em) {
  .footer {
    background: linear-gradient(rgba(77, 150, 168, 0.87), rgba(77, 150, 168, 0.87)), url("/img/tablet/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5.75rem;
    padding-bottom: 4.125rem;
  }
  .footer__container h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 2rem;
  }
  .footer__container p {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    background: linear-gradient(rgba(77, 150, 168, 0.87), rgba(77, 150, 168, 0.87)), url("/img/desktop/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    padding: 7.25rem 0 6.5rem 0;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 68.75rem;
    justify-content: space-between;
  }
  .footer__container h1 {
    margin: 0;
    width: 21.875rem;
    margin-right: 7.8125rem;
  }
  .footer__container p {
    margin: 0;
    width: 21.875rem;
    margin-right: 5.75rem;
  }
}

.about {
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 11rem;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  grid-gap: 1.5rem 1.5625rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.about__grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.about__text {
  margin: auto;
}

.about__text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  line-height: 26px;
  color: #4d96a8;
  margin: auto;
}

.about__text h2 {
  font-size: 2rem;
  line-height: 36px;
  margin: 0 auto 2rem;
  max-width: 27.8125rem;
}

.about__text p {
  color: #86869c;
  font-size: 1rem;
  max-width: 35.8125rem;
  margin: auto;
}

@media screen and (min-width: 48em) {
  .about {
    padding: 0 2.4375rem 0 2.4375rem;
    margin-bottom: 12rem;
  }
  .about__grid {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
    grid-gap: 11px;
    margin: 0 auto 3rem;
  }
  .about__grid div {
    max-width: 15.9375rem;
  }
  .about__text h2 {
    font-size: 2.5rem;
  }
  .about__text h3 {
    margin-bottom: 1rem;
  }
  .about__text p {
    font-size: 1.125rem;
    max-width: 33.75rem;
  }
}
/*# sourceMappingURL=style.css.map */